/* http://sonspring.com/journal/clearing-floats */
/* line 3, ../../../app/assets/stylesheets/partials/_base.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 10, ../../../app/assets/stylesheets/partials/_color.scss */
.color_black {
  background-color: black;
}

/* line 15, ../../../app/assets/stylesheets/partials/_color.scss */
.color_white {
  background-color: #fff;
}

/* line 20, ../../../app/assets/stylesheets/partials/_color.scss */
.color_light_gray {
  background-color: #eee;
}

/* line 25, ../../../app/assets/stylesheets/partials/_color.scss */
.color_gray {
  background-color: #ddd;
}

/* line 30, ../../../app/assets/stylesheets/partials/_color.scss */
.color_notice {
  color: #080;
}

/* line 1, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.top_margin_32 {
  margin-top: 32px;
}

/* line 5, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.top_margin_24 {
  margin-top: 24px;
}

/* line 9, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.top_margin_16 {
  margin-top: 16px;
}

/* line 13, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.top_margin_12 {
  margin-top: 12px;
}

/* line 17, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.top_margin_10 {
  margin-top: 10px;
}

/* line 21, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.top_margin_8 {
  margin-top: 8px;
}

/* line 25, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.top_margin_6 {
  margin-top: 6px;
}

/* line 29, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.top_margin_4 {
  margin-top: 4px;
}

/* line 33, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.bottom_margin_32 {
  margin-bottom: 32px;
}

/* line 37, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.bottom_margin_24 {
  margin-bottom: 24px;
}

/* line 41, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.bottom_margin_16 {
  margin-bottom: 16px;
}

/* line 45, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.bottom_margin_12 {
  margin-bottom: 12px;
}

/* line 49, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.bottom_margin_8 {
  margin-bottom: 8px;
}

/* line 53, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.bottom_margin_6 {
  margin-bottom: 6px;
}

/* line 57, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.bottom_margin_4 {
  margin-bottom: 4px;
}

/* line 61, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.height_24 {
  min-height: 24px;
}

/* line 65, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.height_32 {
  min-height: 32px;
}

/* line 69, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.round_corners {
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 74, ../../../app/assets/stylesheets/partials/_dimensions.scss */
.borders {
  border-style: solid;
  border-width: 1px;
}

/* line 1, ../../../app/assets/stylesheets/partials/_images.scss */
.background_grid {
  background-image: url("/images/background_grid.png");
}

/* line 5, ../../../app/assets/stylesheets/partials/_images.scss */
.background {
  background-image: url("/images/background.jpg");
  height: 100%;
}

/* line 10, ../../../app/assets/stylesheets/partials/_images.scss */
a .image_fix {
  background-color: transparent;
  margin: 0px 0px -3px 0px;
}

/* line 15, ../../../app/assets/stylesheets/partials/_images.scss */
a:hover .image_fix {
  background-color: #e1e0e0;
  margin: 0px 0px -3px 0px;
}

/* line 9, ../../../app/assets/stylesheets/main.scss */
body {
  background-color: #dddddd;
  font-size: 12px;
  margin: 0px;
  margin-top: 0px;
  background-image: url("/images/background.jpg");
}

/* line 17, ../../../app/assets/stylesheets/main.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: arial;
  font-weight: lighter;
  color: #444;
  margin-top: 0px;
}

/* line 24, ../../../app/assets/stylesheets/main.scss */
h1.no-access {
  text-align: center;
}

/* line 28, ../../../app/assets/stylesheets/main.scss */
#header {
  overflow: hidden;
  *zoom: 1;
  background-color: white;
  min-height: 32px;
}

/* line 33, ../../../app/assets/stylesheets/main.scss */
#header {
  margin-bottom: 24px;
}

/* line 36, ../../../app/assets/stylesheets/main.scss */
#footer {
  margin-top: 24px;
  text-align: center;
}

/* line 41, ../../../app/assets/stylesheets/main.scss */
.links {
  text-align: right;
}

/* line 45, ../../../app/assets/stylesheets/main.scss */
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
  margin: 0px 0px 0px 0px;
}

/* line 53, ../../../app/assets/stylesheets/main.scss */
.desc {
  padding-right: 14px;
  background-image: url("http://www.marselistvaervej4.dk/images/arrow_up.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: right top;
  /*	background-image:url('<%= asset_path "arrow_up.png" %>');*/
}

/* line 63, ../../../app/assets/stylesheets/main.scss */
.asc {
  padding-right: 14px;
  /*	background-image:url('../../images/arrow_down.png');*/
  /*	background-image:url('<%= asset_path "arrow_down.png" %>');*/
  background-image: url("http://www.marselistvaervej4.dk/images/arrow_down.png");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: right top;
}

/* line 73, ../../../app/assets/stylesheets/main.scss */
.text_right {
  text-align: right;
}

/* line 77, ../../../app/assets/stylesheets/main.scss */
a:focus {
  outline: 0px none;
  color: #000;
}

/* line 81, ../../../app/assets/stylesheets/main.scss */
a:visited {
  color: #666;
}

/* line 84, ../../../app/assets/stylesheets/main.scss */
a:hover {
  color: #ddd;
  background-color: #333;
}

/* line 89, ../../../app/assets/stylesheets/main.scss */
.field_with_errors {
  background-color: #f00;
  padding: 4px;
}

/* line 94, ../../../app/assets/stylesheets/main.scss */
.alert {
  color: #e00;
  background-color: #fee;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -khtml-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  min-height: 32px;
}
/* line 102, ../../../app/assets/stylesheets/main.scss */
.alert .message {
  margin: 8px;
}

/* line 108, ../../../app/assets/stylesheets/main.scss */
.thumbs-box {
  margin-left: 10px;
}

/* line 112, ../../../app/assets/stylesheets/main.scss */
.photo-thumb {
  margin: 2px;
  width: 60px;
  display: block;
}

/* line 119, ../../../app/assets/stylesheets/main.scss */
.edit_symbold:hover a:hover {
  background-color: #DDDDDD;
}

/*
.desc{
	padding-right:14px;
	background-image:url('arrow_up.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.asc{
	padding-right:14px;
	background-image:url('arrow_down.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

*/
/* line 144, ../../../app/assets/stylesheets/main.scss */
.booking-col-1 {
  display: inline;
  float: left;
  margin-right: 10px;
  min-height: 1px;
  width: 160px;
}

/* line 152, ../../../app/assets/stylesheets/main.scss */
.booking-col-2 {
  display: inline;
  float: left;
  margin-right: 20px;
  min-height: 1px;
  width: 140px;
}

/* line 160, ../../../app/assets/stylesheets/main.scss */
.booking-col-3 {
  display: inline;
  float: right;
  min-height: 1px;
  width: 70px;
}

/* line 166, ../../../app/assets/stylesheets/main.scss */
.top-margin {
  margin-top: 12px;
}

/* line 170, ../../../app/assets/stylesheets/main.scss */
.center .pagination {
  margin-top: 0px;
  width: 420px;
  text-align: center;
}

/* line 177, ../../../app/assets/stylesheets/main.scss */
.bottom-margin {
  margin-top: 4px;
}

/* line 180, ../../../app/assets/stylesheets/main.scss */
.mail-image {
  display: inline;
  float: left;
  margin-left: 0px;
  margin-right: 0px;
  min-height: 1px;
  width: 30px;
}

/* line 190, ../../../app/assets/stylesheets/main.scss */
.demo-show h3 {
  margin: 0;
  padding: .25em;
  background: #bfcd93;
  border-top: 1px solid #386785;
  border-bottom: 1px solid #386785;
}

/* line 198, ../../../app/assets/stylesheets/main.scss */
.demo-show div {
  padding: .5em .25em;
  display: none;
}
