$color_black: #000;
$color_white: #fff;
$color_light_gray: #eee;
$color_gray: #ddd;
$color_notice: #080;


.color_black
{
	background-color: $color_black;
}

.color_white
{
	background-color:#fff;
}

.color_light_gray
{
	background-color:#eee;
}

.color_gray
{
	background-color:#ddd;
}

.color_notice
{
	color:#080;
}
