@import "compass/utilities/general/clearfix";

@import "partials/base";
@import "partials/color";
@import "partials/dimensions";
@import "partials/images";
@import "compass/css3/border-radius";

body {
	background-color: $color_gray;
	font-size: 12px;
	margin: 0px;
	margin-top: 0px;
	background-image:url('/images/background.jpg');
}

h1, h2, h3, h4, h5, h6 {
	font-family: arial;
	font-weight: lighter;
	color: #444;
	margin-top: 0px;
}

h1.no-access {
	text-align: center;
}

#header {
	@include clearfix;
	background-color: $color_white;
	min-height: 32px;
}
#header {
	margin-bottom: 24px;
}
#footer {
	margin-top: 24px;
	text-align: center;
}

.links {
	text-align: right;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
	margin:0px 0px 0px 0px;
}

.desc{
	padding-right:14px;
	background-image:url('http://www.marselistvaervej4.dk/images/arrow_up.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
	
/*	background-image:url('<%= asset_path "arrow_up.png" %>');*/
}

.asc{
	padding-right:14px;
/*	background-image:url('../../images/arrow_down.png');*/
/*	background-image:url('<%= asset_path "arrow_down.png" %>');*/
	background-image:url('http://www.marselistvaervej4.dk/images/arrow_down.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.text_right{
	text-align:right;
}

a:focus {
       outline: 0px none;
       color:#000;
}
a:visited {
       color: #666;
}
a:hover {
       color: #ddd;
       background-color:#333;
}

.field_with_errors{
	background-color:#f00;
	padding:4px;
}

.alert{	
	color:#e00;
	background-color:#fee;
	@include border-radius(5px, 5px);
	border-style:solid;
	border-width:1px;
	border-color:#888;
    min-height:32px;
	.message{
	  margin:8px;
	}
}


.thumbs-box{
	margin-left:10px;
}

.photo-thumb{
	margin:2px;
	width:60px;
	display:block;	
}

.edit_symbold:hover{
	a:hover{
		background-color:#DDDDDD;
	}
	
}


/*
.desc{
	padding-right:14px;
	background-image:url('arrow_up.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

.asc{
	padding-right:14px;
	background-image:url('arrow_down.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-position:right top;
}

*/
.booking-col-1{
	display: inline;
	float: left;
	margin-right: 10px;
	min-height: 1px;
	width: 160px;
}

.booking-col-2{
	display: inline;
	float: left;
	margin-right: 20px;
	min-height: 1px;
	width: 140px;
}

.booking-col-3{
	display: inline;
	float: right;
	min-height: 1px;
	width: 70px;
}
.top-margin{
	margin-top:12px;
}
.center{
	.pagination{
		margin-top:0px;
		width:420px;
		text-align:center;
	}	
}

.bottom-margin{
	margin-top:4px;
}
.mail-image{
	display: inline;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 1px;
	width: 30px;
}