- content_for(:head) do
  = stylesheet_link_tag "jquery.Jcrop"
  = javascript_include_tag "jquery.Jcrop.min"
  javascript:
    $(function() {
      $('#cropbox').Jcrop({
        onChange: update_crop,
        onSelect: update_crop,
        setSelect: [0, 0, 754, 616],
        bgColor:    'none',
        aspectRatio: 1.223404255319149
      });
    });
    
    function update_crop(coords) {
    	var rx = 140/coords.w;
    	var ry = 114/coords.h;
    	$('#preview').css({
    		width: Math.round(rx * #{@newspost.image_geometry(:xxl).width}) + 'px',
    		height: Math.round(ry * #{@newspost.image_geometry(:xxl).height}) + 'px',
    		marginLeft: '-' + Math.round(rx * coords.x) + 'px',
    		marginTop: '-' + Math.round(ry * coords.y) + 'px'
    	});
      var ratio = #{@newspost.image_geometry(:original).width} / #{ @newspost.image_geometry(:xxl).width};
      $("#crop_x").val(Math.round(coords.x * ratio));
      $("#crop_y").val(Math.round(coords.y * ratio));
      $("#crop_w").val(Math.round(coords.w * ratio));
      $("#crop_h").val(Math.round(coords.h * ratio));
    }


.single-column  
  div class="grid_3 alpha"
    h3 Preview:
    div style="width:140px; height:114px; overflow:hidden"
      = image_tag @newspost.image.url(:xxl), :id => "preview"

  div class="grid_9 omega"
    h3 Editor:
    div class="clear">&nbsp;
    = image_tag @newspost.image.url(:xxl), :id => "cropbox"

    = form_for @newspost do |f|
      - for attribute in [:crop_x, :crop_y, :crop_w, :crop_h]
        = f.hidden_field attribute, :id => attribute
      br
      br
      = f.submit "Crop"



